.sider-bar {
    position: relative;
    display:    block;
    width: 15%;
    background-color: #230f08;
    color: #fff;
    padding: 3rem;
    border-radius: 10px 0px 0px 10px;
    font-size: 1.6rem;
  }
.sider-bar .logo {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}
.sider-bar .logo i {
    font-size: 2rem;
    color: #e27814;
    margin-right: .5rem;
}
.sider-bar .logo .brand {
    font-size: 1.6rem;
    font-weight: 700;
}
.sider-bar .logo .brand span {
    font-size: 1.5rem;
    color: #7e6652;
    font-weight: 500;
    line-height: 1.5rem;
}
button.sign-out {
    font-size: 0.8rem;
    position: absolute;
    bottom: 2rem;
    width: 60%;
    color: #fff;
    background: transparent;
    padding: .5rem 1rem;
    border-radius: 10px;
    box-shadow: rgb(226 120 20) 0px 2px 8px 0px;
    border: none;
}
button.sign-out:hover {
    color: rgb(226 120 20);
    cursor: pointer;
    transition: all 0.5s;
}